<form 
  (ngSubmit)="onSubmit()"
  [formGroup]="form">

  <div>
    <input 
      formControlName="nombre"
      placeholder="Nombre/Razon Social"
      type="text">
      @if(form.get('nombre')?.invalid && form.get('nombre')?.touched){
        @if(form.get("nombre")?.hasError("required")) {
          <span style="color: red;">El nombre o razón social es obligatorio.</span>
        }      
        @if(form.get('nombre')?.hasError('forbiddenModel')) {
          <span style="color: red;">{{ form.get('nombre')?.errors?.['forbiddenModel'] }}</span>
        } 
      }
  </div>
  <div>
    <input 
      formControlName="dniorruc"
      placeholder="Dni o Ruc"
      type="text">
      @if(form.get('dniorruc')?.invalid && form.get('dniorruc')?.touched){
        @if(form.get("dniorruc")?.hasError("required")) {
          <span style="color: red;">El Dni o Ruc es obligatorio.</span>
        } 
        @if(form.get("dniorruc")?.hasError("pattern")) {
          <span class="error" style="color: red;">Debe ingresar un DNI (8 dígitos) o un RUC (11 dígitos).</span>
        } 
        @if(form.get("dniorruc")?.hasError('forbiddenLetter')) {
          <span style="color: red;">{{ form.get('dniorruc')?.errors?.['forbiddenLetter'] }}</span>
        } 
      }
    </div>
  <div>
    <button 
      [disabled]="form.invalid || isLoading"
      type="submit">
      {{ isLoading ? 'Sending...' : 'Send' }}
    </button>
  </div>
</form>